name: "DAST - OWASP ZAP Scan"

on:
  workflow_dispatch:
  schedule:
    - cron: '0 5 * * 1'

jobs:
  zap_scan:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      issues: write
      security-events: write

    steps:
      - name: ZAP Baseline Scan
        uses: zaproxy/action-baseline@v0.12.0
        with:
          target: "https://security-pipeline-demo.vercel.app"
          rules_file_name: ".zap-rules"
          cmd_options: "-a"
          allow_issue_writing: false

      - name: Upload ZAP report
        uses: actions/upload-artifact@v4
        with:
          name: zap-report
          path: report_html.html
